name: deploy-prod

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Cache Terraform plugins
        uses: actions/cache@v4
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-${{ runner.os }}-${{ hashFiles('**/.terraform.lock.hcl') }}

      - name: Configure cloud credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.PROD_AWS_ROLE_ARN }}
          aws-region: ${{ vars.TF_STATE_REGION }}

      - name: Terraform Init
        working-directory: terraform/environments/prod
        run: terraform init -backend-config=../backend-example.hcl

      - name: Terraform Plan
        id: plan
        working-directory: terraform/environments/prod
        env:
          TF_VAR_cloudflare_api_token: ${{ secrets.PROD_CLOUDFLARE_API_TOKEN }}
          TF_VAR_vercel_api_token: ${{ secrets.PROD_VERCEL_API_TOKEN }}
          TF_VAR_vercel_team: ${{ vars.VERCEL_TEAM_ID }}
          TF_VAR_cloudflare_account_id: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          TF_VAR_zone_name: ${{ vars.DNS_ROOT_DOMAIN }}
          TF_VAR_prod_hostname: ${{ vars.PROD_HOSTNAME }}
          TF_VAR_staging_hostname: ${{ vars.STAGING_HOSTNAME }}
          TF_VAR_prod_target: ${{ vars.PROD_HOST_ENDPOINT }}
          TF_VAR_staging_target: ${{ vars.STAGING_HOST_ENDPOINT }}
          TF_VAR_git_repository: ${{ vars.GIT_REPO_SLUG }}
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: terraform/environments/prod
        env:
          TF_VAR_cloudflare_api_token: ${{ secrets.PROD_CLOUDFLARE_API_TOKEN }}
          TF_VAR_vercel_api_token: ${{ secrets.PROD_VERCEL_API_TOKEN }}
          TF_VAR_vercel_team: ${{ vars.VERCEL_TEAM_ID }}
          TF_VAR_cloudflare_account_id: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          TF_VAR_zone_name: ${{ vars.DNS_ROOT_DOMAIN }}
          TF_VAR_prod_hostname: ${{ vars.PROD_HOSTNAME }}
          TF_VAR_staging_hostname: ${{ vars.STAGING_HOSTNAME }}
          TF_VAR_prod_target: ${{ vars.PROD_HOST_ENDPOINT }}
          TF_VAR_staging_target: ${{ vars.STAGING_HOST_ENDPOINT }}
          TF_VAR_git_repository: ${{ vars.GIT_REPO_SLUG }}
        run: terraform apply -auto-approve tfplan
